/* Start Global values */
*{
    box-sizing: border-box;
    -os-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
}
input:focus{
    outline: none;
}
/* End Global values */
/* Start Variables */
:root{
    --main-color: #7453fc;
}
/* End Variables */
/* Start Container */
.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* End Container */
/* Start apply-items */
.apply-items{
    height: fit-content;
    background-image: url('../images/dark-bg.jpg');
    background-size: cover;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 100px;
    padding-bottom: 125px;
}
.items{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
}
.items hr{
    border: 1px solid var(--main-color);
    width: 100px;
}
.items-title{
    margin-top: 30px;
    color: white;
    font-size: 30px;
    padding: 0px 20px;
    text-align: center;
}
.items-title label{
    color: var(--main-color);
}
.items-Both{
    width: 1100px;
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 100px;
}
.item-details{
    background-color: rgb(55, 57, 60);
    padding: 50px 30px 100px;
    border-radius: 20px;
    color: white;
}
.items-text{
    width: calc( ( 100% / 3 ) - 18px);
    margin-bottom: 35px;
}
.item-details h6{
    font-size: 17px;
    margin-bottom: 10px;
    font-weight: normal;
}
.item-details div:not(:last-of-type) input{
    width: 100%;
    border-radius: 50px;
    background-color: #282b2f;
    border: 1px solid #404245;
    color: #afafaf;
    padding: 12px 15px;
}
.items-number{
    width: calc(50% - 12px);
    margin-bottom: 35px;
}
.item-details div:last-of-type input{
    color: #afafaf;
    font-size: 17px;
    width: fit-content;
}
.item-details button{
    background-color: var(--main-color);
    color: white;
    font-size: 15px;
    width: 65%;
    border: none;
    margin-top: 15px;
    border-radius: 25px;
    padding: 15px 0px;
    position: relative;
}
.item-details button::before{
    content: "";
    position: absolute;
    background-color: white;
    width: 350px;
    height: 2px;
    left: calc(50% - 175px);
    bottom: 1px;
}
.item-details button:hover{
    background-color: white;
    color: var(--main-color);
    cursor: pointer;
}
.items-second{
    padding-top: 100px;
}
.items-two{
    color: white;
}
.items-two > span{
    width: 55%;
    overflow: hidden;
    background-image: url('../images/create-yours.jpg');
    height: 318px;
    background-size: 100%;
    border-radius: 25px;
    background-repeat: no-repeat;
}
.preview{
    width: calc(45% - 50px)
}
.preview h6{
    font-size: 20px;
}
.name{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}
.name span{
    background-image: url('../images/author-02.jpg');
    overflow: hidden;
    width: 50px;
    height: 50px;
    background-size: 100%;
    border-radius: 50%;
    margin-right: 15px;
}
.name p{
    font-size: 15px;
    line-height: 1.6
}
.name label{
    color: var(--main-color);
    font-weight: 700;
}
.preview > p{
    font-size: 16px;
    line-height: 1.8;
    margin-top: 30px;
}
.preview > div:last-of-type{
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    justify-content: space-between;
}
.preview > div:last-of-type div{
    display: flex;
    flex-direction: column;
    height: 90px;
    justify-content: space-between;
}
.preview > div:last-of-type div p:first-of-type{
    font-size: 15px;
}
.preview > div:last-of-type div p:nth-of-type(2){
    color: var(--main-color);
    font-weight: 700;
    font-size: 20px;
}
.preview > div:last-of-type div p:last-of-type{
    font-size: 15px;
    color: #afafaf;
}
/* End apply-items */
.copyRight{
    width: 100%;
    background: linear-gradient(132deg, rgba(125,90,254,1) 25%, rgba(160,84,244,1) 100%);
    color: white;
    padding: 30px 35px;
    font-size: 15px;
    text-align: center;
    line-height: 1.8
}
.copyRight label{
    font-weight: 700
}
/* Start Media Query */
/* Large Displays */
@media (max-width:1200px){
    .container{
        width: 1170px
    }
    .items-Both{
        width: 925px;
    }
    .item-details button{
        width: 60%;
    }
    .items-two > span{
        width: 55%;
        height: 323px;
        background-size: 121%;
    }
    .preview{
        width: calc(45% - 35px);
    }
}
/* Medium Displays */
@media (max-width:992px){
    .container{
        width: 970px
    }
    .items-Both{
        width: 650px;
    }
    .item-details{
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 50px;
    }
    .items-text , .items-number{
        width: 100%
    }
    .item-details button{
        width: 100%;
        margin-top: 65px;
    }
    .items-two > span{
        width: 100%;
        background-size: cover;
        height: 340px;
    }
    .preview{
        width: 100%;
        margin-top: 35px;
    }
    .preview > div:last-of-type{
        width: 90%;
    }
}
/* Small Displays */
@media (max-width: 768px) {
    .container{
        width: 750px
    }
    .apply-items{
        padding: 0px;
    }
    .item-details{
        width: 95%;
    }
    .item-details button::before{
        width: 60%;
        left: 20%;
    }
    .items-two{
        width: 90%;
    }
    .items-two > span{
        background-size: cover;
        height: 260px;
        background-position: center;
    }
    .preview > div:last-of-type{
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-align: center;
    }
    .preview > div:last-of-type div{
        margin-bottom: 35px
    }
    .copyRight{
        padding: 20px 15px;
    }
}
/* End Media Query */

